.detail{
    display: flex;
    background: linear-gradient(90deg,#af7f5e,#ac7b58,#6d4c36);
    flex-direction: column;
    font-size: x-large;
    row-gap: 20px;
    font-family: Bree Serif;
}

.button{
    float: right;
    align-items:end;

}