.detail{
    display: flex;
    background-color: #EE6C4D;
    flex-direction: column;
    font-size: x-large;
    row-gap: 20px;
    font-family: Bree Serif;
    color: white;
}

.donate{
    text-align: right;
}
